---
import 'modern-normalize';
import '@/styles/common.scss';

import BaseHead from '@/components/base-head.astro';
import {transitionAnimate, transitionNames} from '@/constants/transition';

import Footer from './footer.astro';

interface Props {
  title: string;
  description: string;
  isErrorPage?: boolean;
}
const {title, description, isErrorPage = false} = Astro.props;
---

<html lang='ja'>
  <head>
    <BaseHead {title} {description} {isErrorPage} />
    <slot name='head' />
  </head>
  <body>
    <main transition:animate={transitionAnimate}>
      <slot />
    </main>
    <Footer transition:name={transitionNames.footer} />

    <style lang='scss'>
      @use '@/styles/breakpoints' as bp;
      @use '@/styles/colors' as c;
      @use '@/styles/shapes' as s;

      html {
        width: 100%;
        height: 100%;
      }

      body {
        display: grid;
        grid-template:
          'main' 1fr
          'footer' auto / 1fr;
        gap: s.$space;
        justify-content: center;
        width: 100%;
        max-width: 600px;
        min-height: 100%;
        padding: s.$space;
        margin: 0 auto;

        font-family: 'IBM Plex Sans JP', 'BIZ UDPGothic', 'Helvetica Neue',
          Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo,
          sans-serif;
        color: c.$fg;
        background-color: c.$bg;

        > main {
          grid-area: main;
        }

        > footer {
          grid-area: footer;
        }
      }

      .back {
        display: flex;
        align-items: center;
        padding-right: 0.5rem;
        background-color: c.$bg;
        border-radius: s.$radius;
      }

      .full-width {
        width: 100%;
      }

      .copyright {
        padding: 0 0.5rem;
        font-size: 1rem;
        background-color: c.$bg;
        border-radius: s.$radius;
      }
    </style>
  </body>
</html>
