---
import type {HTMLAttributes} from 'astro/types';

const showTop = Astro.url.pathname !== '/';
const wrap = Astro.url.pathname === '/gyagu/';

interface Link {
  href: string;
  label: string;
  hidden?: boolean;
  show?: boolean;
}

const links: Link[] = [
  {
    href: '/',
    label: 'トップ',
    show: showTop,
  },
  {
    href: '/about-me/',
    label: 'すえ',
  },
  {
    href: '/souhait-chan/',
    label: 'すえちゃん',
  },
  {
    href: '/play/',
    label: 'お遊び',
  },
  {
    href: '/product/',
    label: '作ったもの',
  },
  {
    href: '/gyagu/',
    label: 'ギャグ',
    hidden: true,
  },
];

type Props = HTMLAttributes<'nav'>;
---

<nav {...Astro.props}>
  <h2>サイトナビゲーション</h2>
  <ul>
    {
      links
        .filter(({show}) => show !== false)
        .filter(({href, hidden}) => !hidden || href === Astro.url.pathname)
        .map(({href, label}) => (
          <li class:list={{wrap}} transition:name={`nav-link-${href}`}>
            {href === Astro.url.pathname ? (
              <span>{label}</span>
            ) : (
              <a {href}>{label}</a>
            )}
          </li>
        ))
    }
  </ul>
</nav>

<style lang='scss'>
  @use '@/styles/colors' as c;
  @use '@/styles/shapes' as s;

  nav {
    padding: 0.25rem 0.5rem;
    background-color: c.$bg;
    border-radius: s.$radius;

    > h2 {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }
  }
  ul {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    list-style: none;

    > li {
      width: 100%;
      text-align: center;
      white-space: nowrap;
    }

    .wrap {
      white-space: wrap;
    }
  }
</style>
